
body{
    padding-top: 0;
}


.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: white;
    color: black;
}


.parallax-window {
    height: 100vh;
    background: transparent;
    display: table;
    width:100%;

}

.parallax-content{
    text-align: center;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.parallax-content .logo{
    color: white;
    font-size: 12vw;
}

.parallax-content h1{
    color: black;
    font-size: 8vw;
}

.content{
    min-height: 400px;
}


