@font-face{
    font-family: dbfont;
    src: url(/fonts/HouschkaPro-Medium.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: dbfont;
    src: url(/fonts/HouschkaPro-DemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: dbfont;
    src: url(/fonts/HouschkaPro-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: dbfont-light;
    src: url(/fonts/HouschkaPro-Light.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: dbfont;
    src: url(/fonts/HouschkaPro-ExtraBold.otf);
    font-weight: 900;
    font-style: normal;
}




body{
    padding-top: 0;
}


.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: white;
    color: black;
}


.parallax-window {
    height: 100vh;
    background: transparent;
    display: table;
    width:100%;
}

.parallax-content{
    text-align: center;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}


.parallax-content .logo{
    font-family: dbfont;
    font-weight: normal;
    color: white;
    font-size: 12vmax;
    padding-left:2vw;
    padding-right:2vw;
    letter-spacing: -0.4vmax;
}



.firstchar{
    display:inline;
    font-family: dbfont;
    font-weight: 900;
    letter-spacing: -1.0vmax;
}

.secondchar{
    display:inline;
    font-family: dbfont;
    font-weight:600;
    letter-spacing: -0.4vmax;
}

.parallax-content .caption{
    font-family: dbfont;
    color: black;
    font-size: 8vmax;
    //background-color: rgba(0,0,0,0.3);
    padding-left:2vw;
    padding-right:2vw;
}

section{
    display: table;
    width:100%;
    height:50vh;
    
    box-shadow: 1px 4px 31px 1px #DDDDDD;
    -webkit-box-shadow: 1px 4px 31px 1px #DDDDDD;
    -moz-box-shadow: 1px 4px 31px 1px #DDDDDD;
    -o-box-shadow: 1px 4px 31px 1px #DDDDDD;
}

.content{
    font-family: dbfont-light;
    width: 50vmax;
    height: 60vh;
    padding-top:7vh;
    padding-bottom:7vh;
    text-align: center;
}
